.bg {
    background-image: url('../../assets/secuirtyBg.png');
    background-size: cover; /* Ensures the background image covers the entire div */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat;
    background-attachment: fixed; 
    display: flex; /* Use flexbox to lay out child elements side by side */
    align-items: center;
    justify-content: center; /* Center the items horizontally */
    flex-direction: row; /* Horizontal layout */
    padding-bottom: 10rem;
    padding-top: 10rem;
}

.Title {
    color: white;
    width: 40rem;
    font-size: 5rem;
    padding-left: 2rem;
}

.Description {
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
    padding-left: 2rem;
    width: 35rem;
}

.img {
    height: 30rem;
    width: 40rem;
    border-radius: 1rem;
    margin-left: 4rem;
}

@media (max-width: 1024px) {
    .bg {
        flex-direction: column; /* Stack elements vertically on smaller screens */
        align-items: center;
    }

    .img {
        margin-top: 2rem;
        height: 15rem;
        width: 25rem;
        border-radius: 1rem;
    }

    .Title, .Description {
        padding-left: 0; /* Reset padding on smaller screens */
        text-align: center;
        width: 100%; /* Full width for mobile view */
    }
}
