.bg{
    background-image: url('../../assets/secuirtyBg.png');
    background-size: cover; /* Ensures the background image covers the entire div */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.Title{
    padding: 10rem;
    color:white;
    width:60rem;
    font-size: 5rem;

}