
.aboutCard {
    height: 60rem;
    background-image: url('../../assets/vanBackground.png');
    display: grid;
    overflow: hidden; 
    position: relative;
    place-items: center;
     background-size: cover; /* Ensures the background image covers the entire div */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.divider{
    position: absolute;
    height: 20rem;
    background-color: rgba(0, 0, 0, 1);
    z-index: 2;
}

.aboutTitle{
    color: white;
    text-align: center;
    margin-top: 25rem;
    margin-bottom: 6rem;
    font-size: 8rem;
    margin-left: 1rem;
}

.about{
    color: white;  
    width: 40rem;
    height: 20rem;
    text-align: center;
}