.timCard {
    height: auto;
    background-color: rgba(255, 255, 255, 0.90);
    display: flex;
    flex-direction: row;
    padding-bottom: 10rem;
    padding-right:10rem;

    
}
.pfp{
    margin-left: 10rem;
    margin-top: 10rem;

}
.intro{
    margin: 4rem;
    
    color: #1A2B4C; /* Example hex color code - adjust as needed */
    
}
.profileImage{
   
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


}
.timName{
    margin-left: 7rem;
    position:absolute;
    text-align: center;
}

.about{
    margin-top: 20rem;
    margin-left: 12rem;
    width: autorem;
    height: auto;
    text-align: left;
}
.certification{
    width: 20rem;
    height: 10rem;
    margin: 2rem;
    
}
.certifications{
    margin-left: 10rem;
    display:flex;
    flex-direction: row;

    

}

@media (max-width: 1024px) {
    .timCard {
      flex-direction: column;
    }
    .about{
        margin-top: 10rem;
    }

    .certifications{
        flex-direction: column; 
        align-items: center;
    }

   
}